<%= render 'four_breaks' %>
<div class="row">
<center><strong style="font-weight: bold; font-size:20px;"><u>STEP 3 (OF 3): ENTER YOUR PAYMENT INFORMATION</u></strong></center>
<br>
<br>
<div class="large-4 large-offset-4 columns">

<%= simple_form_for @job,
    html: {
      class: 'payola-payment-form',
      'data-payola-base-path' => main_app.payola_path,
      'data-payola-product' => @job.product_class,
      'data-payola-permalink' => @job.permalink
    } do |f| %>
 
  <center><p style="color:red"><span class="payola-payment-error"></span></p></center>
  
  <div class="row">
  <div class="large-12 columns">
    <label>Your email address
      <input type="email" name="stripeEmail" data-payola="email" ></input>
    </label>
  </div>
  
  <div class="large-12 columns">
  <label>Card number
    <input type="text" data-stripe="number"></input>
  </label>
  </div>
  
   <div class="large-4 columns">
    <label>Exp Month
      <input type="text" data-stripe="exp_month"></input>
    </label>
  </div>
  
  <div class="large-4 columns">
    <label>Exp Year
      <input type="text" data-stripe="exp_year"></input>
    </label>
  </div>
  
  <div class="large-4 columns">
    <p><label>CVC Code
      <input type="text" data-stripe="cvc"></input>
    </label></p>
  </div>
  
  <div class="large-12 columns">
  <%= f.submit "PAY AND DISPLAY AD NOW", class: "button radius medium expand success" %>
  </div>
</div>
<% end %>
<%= render 'two_breaks' %>
  <center><%= link_to (image_tag("big.png")) %></center>
</div>