<%= render 'header_breaks' %>
<div class="row">
<div class="large-8 columns large-offset-2 columns">
<strong style="font-weight: bold; font-size:20px;"><u>STEP 2 (OF 3): PREVIEW YOUR AD</u></strong>
  <p><%= @job.title %></p>
  <p><%= @job.location %></p>
  <p><%= @job.description.html_safe %></p>
  <p><%= @job.to_apply %></p>
<button class="button radius medium success">Looks great! Continue to Step 3</button>
    or <u><%= link_to "Make changes", edit_job_path(@job) %></u>
</div>
</div>
<%= render 'footer_breaks' %>
