<%= render 'header_breaks' %>
<div class="row">
<div class="large-8 columns large-offset-2 columns"
<h3>STEP 2: PREVIEW YOUR AD</h3><hr><br>
  <p><%= @job.title %></p>
  <p><%= @job.location %></p>
  <p><%= @job.description.html_safe %></p>
  <p><%= @job.to_apply %></p>
<button class="button radius medium success">Looks great! Continue to Step 3</button>
    or <%= link_to "Make changes", edit_job_path(@job) %>
</div>
</div>
<%= render 'footer_breaks' %>
