<%= render 'four_breaks' %>
<div class="row">
<div class="large-10 columns large-offset-1 column">
  <strong style="font-weight: bold; font-size:20px;"><u>STEP 2 (OF 3): PREVIEW YOUR AD</u></strong>
  <%= render 'two_breaks' %>
</div>
</div>

<%= render 'display_listing' %>
<%= render 'apply_panel' %>

<div class="row">
<div class="large-10 columns large-offset-1 column">
<%= link_to "Looks great! Continue to Step 3", buy_ad_path(@job.permalink), class: "button radius medium success" %>
    or <u><%= link_to "Make changes", edit_job_path(@job) %></u>
</div>
</div>
<%= render 'two_breaks' %>
