<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="technical writing jobs; technical marketing jobs; work the docs; read the docs; write the docs;"/>
    <title><%= content_for?(:title) ? yield(:title) : "Work the Docs | Find experienced technical writers and marketers." %></title>
    <%= stylesheet_link_tag :application, media: "all" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= render "javascript" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= body_class %>">
      <%= render "flashes" -%>
      <%= yield %>
    </div>
  </body>
</html>
